@font-face {
    font-family:"Cera Pro Black";
    src: url(./assets/fonts/fonts/Cera\ Pro\ Black.otf);
}

@font-face {
    font-family:"Cera Pro Bold";
    src: url(./assets/fonts/fonts/Cera\ Pro\ Bold.otf);
}

@font-face {
    font-family:"Cera Pro Light";
    src: url(./assets/fonts/fonts/Cera\ Pro\ Light.otf);
}

@font-face {
    font-family:"Cera Pro Medium";
    src: url(./assets/fonts/fonts/Cera\ Pro\ Medium.otf);
}

*
{
    font-family: Cera Pro Medium;
}


.bar-playzone{
    background-color: #f8f8f8;
}

.buttom-playzone{
    background-color: rgb(171, 217, 255) ;
    border: none;
    font-size: .8rem;
    padding: 5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: rgb(48, 85, 181, 0.44) .0px 1px 4px 0px;
}

.buttom-playzone:hover{
    background-color: #ffffff;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 25px !important;
    color: black;
}
.fs-slider{
    font-size: 0.8rem;
}

.fs-topbar{
    font-size: 0.8 rem;
}

.fs-topbar2{
    font-size: 0.8rem;
}

.bg-navbar{
    background-color:#ffd502;
}

.btton-gift{
    background-color: rgb(255, 255, 255) ;
    border: none;
    color: red;
    padding: 5px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: rgb(48, 85, 181, 0.44) .0px 1px 4px 0px;
}

.btton-gift:hover{
    color: #f8f8f8;
    background-color: #000000;
}

.nav-item:hover{
    text-decoration: underline 3px;
    text-underline-offset: 5px;
}


.btn-serch{
    border: none;
    cursor: pointer;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.btn-heart{
    border: none;
    cursor: pointer;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.btn-store{
    border: none;
    cursor: pointer;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.store{
    font-size: 0.7rem;
}


.btn-search{
padding-left: 0.6rem;
}

.btn-x{
    right: 0px;
    padding-right: 0.6rem;
}

#inSearch{
    border-radius: 50px;
}