@font-face {
  font-family: "Cera-Pro-Black";
  src: url(./assets/fonts/fonts/Cera\ Pro\ Black.otf);
}

@font-face {
  font-family: "Cera-Pro-Bold";
  src: url(./assets/fonts/fonts/Cera\ Pro\ Bold.otf);
}

@font-face {
  font-family: "Cera-Pro-Light";
  src: url(./assets/fonts/fonts/Cera\ Pro\ Light.otf);
}

@font-face {
  font-family: "Cera-Pro-Medium";
  src: url(./assets/fonts/fonts/Cera\ Pro\ Medium.otf);
}

* {
  font-family: Cera-Pro-Medium;
}

@media (max-width: 990px) {
  .buttom-playzone {
    display: none !important;
  }
}

@media (max-width: 990px) {
  .bg-navbar {
    background-color: rgb(255, 255, 255) !important; /* Azul */
  }
}

@media (max-width: 990px) {
    .container {
     max-width: 900px !important;
    }
  }

.bar-playzone {
  background-color: #f8f8f8;
}

.buttom-playzone {
  background-color: #d9f0ff;
  border: none;
  font-size: 0.7rem;
  padding: 5px 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  box-shadow: rgb(48, 85, 181, 0.44) 0px 1px 4px 0px;
}

.buttom-playzone:hover {
  background-color: #ffffff;
}

.swiper-slide {
  text-align: center;
  font-size: 5pxpx;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev:after{
  font-size: 25px !important;
  color: black;
}

.swiper-button-next:after {
  font-size: 25px !important;
  color: rgb(0, 0, 0);
}


.fs-slider {
  font-size: 0.8rem;
}

.fs-topbar {
  font-size: 0.8 rem;
}

.fs-topbar2 {
  font-size: 0.8rem;
}

.bg-navbar {
  background-color: #ffd502;
}

.bg-navbarY {
  background-color: #ffd502;
}

#menuHamburger span {
  width: 100%;
  height: 2px;
  display: block;
  margin-top: 4px;
  background-color: #000000;
  transition: all 300ms ease-in-out;
  transform-origin: center;
}

button#menuHamburger {
  width: 30px;
  height: auto;
  padding: 0;
  border: none;
  background: none; /* Asegúrate de que no tenga fondo */
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button#menuHamburger:hover .icon-bar-1 {
  transform: rotate(45deg) translate(2px, 2px);
}

button#menuHamburger:hover .icon-bar-2 {
  transform: rotate(-45deg) translate(2px, -2px);
}

/* Espaciado inicial entre barras */
#menuHamburger span:not(:first-child) {
  margin-top: 2px;
}


.font-menu{
  font-size: 0.7rem;
}
.btton-gift {
  background-color: rgb(255, 255, 255);
  border: none;
  color: red;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: rgb(48, 85, 181, 0.44) 0px 1px 4px 0px;
}

.btton-gift:hover {
  color: #f8f8f8;
  background-color: #000000;
}

.nav-item:hover {
  text-decoration: underline 3px;
  text-underline-offset: 5px;
}

.btn-serch {
  border: none;
  cursor: pointer;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.btn-heart {
  border: none;
  cursor: pointer;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.btn-store {
  border: none;
  cursor: pointer;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.store {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 0.7rem;
}

.store:hover {
  text-decoration: underline;
}

.btn-search {
  padding-left: 0.6rem;
}

.btn-x {
  right: 0px;
  padding-right: 0.6rem;
}

#inSearch {
  border-radius: 50px;
}

.img-oneHome {
  max-width: 1700px !important;
}

.rectangulo {
  width: 100%; /* Ancho del rectángulo */
  height: 3px; /* Altura del rectángulo */
  background-color: #ffd502; /* Color de fondo amarillo */
}

.gift-off {
  padding: 15px 20px 15px 20px;
}
.home-off {
  padding: 15px 20px 15px 20px;
}

.buttom-playzoneOff {
  background-color: rgb(171, 217, 255);
  border: none;
  font-size: 0.8rem;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(48, 85, 181, 0.44) 0px 1px 4px 0px;
  width: 100%;
}

.btn-shop {
  display: flex;
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 150px;
}

.btn-shop:hover {
  border: none;
  background-color: #eb4534;
}

.w-mx-150px {
  max-width: 150px;
}


.content-hom2{
  padding: 2rem;
}

.shop-banners{
  text-decoration: none;
}

.border-none {
  border: none !important;
}

.space-cards{
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.heroe-gift{
  background-color: #002626;
  padding: 1.5rem 2rem 1rem 2rem;
  border-radius: 10px;
  box-shadow: rgb(48, 85, 181, 0.44) 0px 1px 4px 0px;
}

.heroe-button{
 color: #ffffff;
  padding: 5px 15px;
  background-color: #002626;
  border-radius: 20px;
  border: 2px solid #d9f0ff;  /* Aquí estás estableciendo tamaño, estilo y color en una sola línea */
}

.content-card{
padding-left: 2rem;
color: #ffffff;
}

.parraf-gift{
  padding-top: 1.5rem;
  margin: 0;
}


.card-body-gift {
  padding: 1rem;
  background-color: #2a4b57;
  border-radius: 20px;

}

.terms{
  padding-top: 5rem;
  text-align: end;
}

.stars{
  display: flex;
  justify-content: start;
  align-items: start;
}

.price-products{
    display: flex;
  justify-content: start;
  align-items: start;
}

slider3 .swiper-wrapper .swiper-slide .card .card-body div{
    display: flex !important;
    justify-content: start !important;
    flex-direction: column;
    align-items: start;
}

.bg-navy{
    background-color: #002636 !important;
}

.btn-4 {
    border-radius: 2rem;
    border: 2px solid white;
    padding: 5px 20px;
    background: transparent;
    color: white;
    font-weight: 900;
}

.btn-4:hover{
    background-color: white !important;
    color: #002636 !important;
}

button.btn-hearth {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.border-bottom-none{
    border-bottom: none !important;
}

.btn-5{
    background-color: #e96f14;
    border: 2px solid #e96f14;
    color: #000;
    font-weight: 900;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 25px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-5:hover{
    background-color: white;
    border: 2px solid #e96f14;
}

.h-300px{
    height: 230px !important;
}

.card-img:hover img{
    transform: scale(1.1);
}

.card-img img{
    transition: transform 600ms;
}









